* {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(34, 52, 60, 1);
    color: white;
}

body {
    background-color: rgba(34, 52, 60, 1);
}

.wellcome {
    color: white;
    padding-top: 40%;
    padding-left: 8%;
    font-size: 30pt;
    text-decoration: none;
    padding-bottom: 0;
    margin-bottom: 0;
}

.wellcomemsg {
    padding-left: 8%;
    font-size: 20pt;
    color: rgba(150, 167, 175, 1);
}

form {
    padding-left: 8%;
    padding-top: 1%;
    padding-right: 8%;
}

form>div:first-child>span {
    background-color: rgba(98, 91, 57, 1);
}

form>div:last-child>span {
    background-color: rgba(98, 58, 66, 1);
}